name: deploy-manifests
on:
    push:
        branches:
            - main
        paths:
            - 'infra/k8s/**'
            - 'infra/k8s-prod/**'

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: digitalocean/action-doctl@v2
              with:
                  token: ${{secrets.DIGITALOCEAN_ACCESS_TOKEN}}
            - run: doctl kubernetes cluster kubeconfig save 90a9707e-5bf2-495d-8f6f-72f011d2c3f4
            - run: kubectl apply -f infra/k8s && kubectl apply -f infra/k8s-prod