name: tests-attendance
on:
  pull_request:
      paths:
          - 'attendance/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      -  uses: actions/checkout@v2
      -  run: cd attendance && npm install && npm run test:ci
